<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CPE106_FOPI01_RAYNES_MOD3_EXAM.Properties.Settings.StudentMaintenanceConnectionString"
            connectionString="Data Source=BEEPBOOPMACHINE\SQL2022_SCHOOL;Initial Catalog=StudentMaintenance;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>